KERNEL=="rfkill",                                                     MODE="0660", GROUP="wheel"
SUBSYSTEM=="hidraw",                                                  MODE="0660", GROUP="wheel"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="3318", ATTRS{idProduct}=="0424", MODE="0660", GROUP="wheel"
